.Page {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.Header {
    flex-grow: 1;
    height: 30%;
    background-color: aqua;
}

.Content {
    flex-grow: 1;
    height: 50%;
    background-color: blueviolet;
}

.Footer {
    flex-grow: 1;
    height: 20%;
    background-color: brown;
}